body {
    font-family: Arial, sans-serif;
    background-color: #ffffe5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Added flex-direction to arrange elements vertically */
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f7f7f7;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #0056b3;
}

#logo {
    height: 100px;
    display: block;
    margin-top: 20px; /* Added margin-top to create space between logo and form */
    margin-bottom: 50px;
}