.question-display {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for the two-column layout */
    min-height: 100vh; /* Ensure the page height is at least the viewport height */
  }

  /* Half-width container for question name, description, and select tag */
  .question-container {
    flex: 1;
    padding: 20px;
    background-color: #f1f1f1;
    font-family: 'Manrope', sans-serif;
  }

  .question-description
  {
    font-family: 'Manrope', sans-serif;
    white-space: pre-wrap; /* Preserve white spaces and wrap text */
    word-break: break-all;
  }
  /* Customize the select and submit buttons */
  select, input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  select:hover, input[type="submit"]:hover {
    background-color: #45a049;
  }

  .CodeMirror {
    height: 700px;
    width: 1000px;
    margin-bottom: 1%;
  }

  #language
  {
    margin-top: 1%;
    display: flex;
    margin-right: auto;
  }

  #not_auth
  {
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  }

  #not_auth a
  {
    text-decoration: none;
    color: #1D5D9B;
  }