{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minimalist Signup Page</title>
    <link rel="stylesheet" href="{% static 'register.css' %}">
</head>
<body>
    <img src="{% static 'logo-color.png' %}" alt="" id="logo">
    <div class="signup-container">
        <form action="{% url 'register' %}" method="post">
            {% csrf_token %}
            <input type="text" name="first_name" placeholder="First Name">
            <input type="text" name="last_name" placeholder="Last Name">
            <input type="email" name="email" placeholder="E-mail">
            <input type="text" name="username" placeholder="UserName">
            <input type="password" name="pass1" placeholder="Password">
            <input type="password" name="pass2" placeholder="Confirm Password">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
