{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'verdict_style.css' %}">
</head>
<body>
    <header>
        <div class="logoname">
            <img src="{% static 'logo-white.png' %}" alt="" class="logo-img">
        </div>
        <div class="navbar"><img src="{% static 'rectangle-list-regular.svg' %}" alt="" class="listlogo">Submission Status</div>
        <div>
            <ul  id="head_ul">
                <li class="head_li">{{ user.first_name|capfirst }}</li>
                <li class="head_li"><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </header>
    <div id="data">
        <table id="verdict">
            <tr>
                <th>When</th>
                <th>Who</th>
                <th>Language</th>
                <th>Verdict</th>
            </tr>
            {% for verdict in subs %}
            <tr>
                <td>{{verdict.date_of_submission}} {{verdict.time_of_submission}}</td>
                <td>{{verdict.user}}</td>
                <td>{{verdict.language}}</td>
                <td {% if verdict.verdict == 'Accepted' %}style="color: green;"{% else %}style="color: red;"{% endif %}>
                    {{verdict.verdict}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
